/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "colors";
@import "navbar";
@import "tournaments";
@import "rankings";
@import "forms";
@import "font-awesome";
@import "players";
@import "photos";
@import "landing";
@import "devise";
@import "local_tournaments";
@import "bootstrap";
@import "tables";

@media screen and (max-width: 992px) {
   .container {
      width: 100% !important;
      max-width: none;
   }
}


body {
  font-family: "Helvetica Neue";
  color: #373737;
  background-color: white;
}

select {
  &:focus {
    outline: none !important;
    box-shadow:none !important;
    border-color: $light-gray !important;
  }
}

.btn-outline-primary {
  color: $light-gray;
  border: solid 1px $light-gray;
  &:hover {
    background-color: $dark-teal;
    border: solid 1px $dark-teal;
  }
}

.container {
  h2 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  thead{
    border-top: 4px solid white;
  }
}

.clickable-row {
  &:hover {
    cursor: pointer;
    color: $dark-teal;
  }
}

.subtitle {
  margin-top: 15px;
  margin-bottom: 0px;
  font-weight: normal;
  font-size: 75%;
  color: $light-gray;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.fa-cog {
  cursor: pointer;
}

a {
  color: $dark-teal
}
