.devise-container {
  background-color: white;
  width: 40%;
  margin: auto;
  margin-top: 150px;
  h2 {
    text-align: center;
  }

  .form-inputs {
    input {
      display: table;
      width: 95%;
      margin:  0 auto;
    }
  }
}
