.form-control {
  width: 50%;
  margin: auto;
  font-size: 14px;
}

.womens-points {
  // width: 50%;
  // display: none;
  // margin: auto;
  &.hide {
    display: none;
    background-color: blue;
  }
}
