.form-control {
  width: 50%;
  margin: auto;
  font-size: 14px;
  &:focus {
    border-color: #009999;
  }
}

.womens-points {
  &.hide {
    display: none;
  }
}

.btn-outline-primary {
  color: #aeb2b4;
  border: 1px solid #bfc3c5;
  &:hover {
    background-color: #009999;
    color: white;
    border: 1px solid #009999;
  }
}
.fa {
  color: #bfc3c5 !important;
}

.fa-times {
  position: absolute;
  left: 170px;
  top: 3px;
}
