.form-control {
  width: 50%;
  margin: auto;
  font-size: 14px;
}

.womens-points {
  // width: 50%;
  // display: none;
  // margin: auto;
  &.hide {
    display: none;
    background-color: blue;
  }
}

.btn-outline-primary {
  color: #009999;
  border: 1px solid #009999;
  &:hover {
    background-color: #009999;
    color: white;
    border: 1px solid #009999;
  }
}
