// // Place all the styles related to the landing controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

// // Carousel

// .photo-container {
//   width: 90%;
//   margin: auto;
//   padding-top: 10px;
// }

// .carousel {
//   width: 850px;
// }

// .carousel-inner {
//  height: 350px;
//  overflow: hidden;
//  img {
//    margin-top: -150px;
//  }
// }

.carousel-indicators {
  li {
    background-color: #373737;
    &.active {
      background-color: #00ffff;
    }
  }
}

// .side-section {
//   vertical-align: top;
//   .mini-item {
//     height: 175px;
//     overflow: hidden;

//     img {
//       margin-top: -40px;
//     }
//   }
// }

// .photo-buddies {
//   display: inline-block;
//   padding: 0 3px
// }


.thing {
  width: 800px;
  height: 400px;
  overflow: hidden;
  img {
    // width: 400px;
    // height: 300px;
    // margin: -75px 0 0 -100px;
  }
}

// new carousel
.carousel-container {
  width: 90%;
  margin: auto;
}

.photo-slide {
  width: 800px;
  height: 350px;
  overflow: hidden;
}
