// Place all the styles related to the local_tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tournament-container {
  background-color: white;
  padding-top: 50px;
}

.tournament-img {
  padding: 20px;
}

.card-item {
  display: inline-block;
}
