
@media screen and (max-width: 576px) {
  .logo-image {
    padding-right: 0 !important;
  }
  ::-webkit-input-placeholder {
   text-align: center;
   color: #bfc3c5;
  }
  .search-box {
    input {
      padding: 0 30px !important;
    }
  }
  .search-item {
    display: block !important;
    margin: auto;
    .btn, input {
      width: 100% !important;
    }
  }
}

.search-item {
  display: inline-block;
  margin: 5px 5px;
}

// Main Navbar
.main-nav {
  background-color: #00ffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  .nav-item {
    font-size: 13px;
    font-weight: 600;
  }

  .dropdown-item {
    font-size: 12px;
    font-weight: 500;
  }
}

.logo-image {
  height: 50px;
  padding-right: 40px;
}

// Small Navbar

.small-nav {
  background-color: #373737;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  .items {
    float: right;
    color: #bfc3c5;
    font-size: 12px;
    font-weight: 350;
    padding-right: 20px;
  }

  .title {
    color: #bfc3c5;
    font-size: 14px;
  }
}

button {
  a:link {
    text-decoration: none;
  }
}

// filters bar

.search-box {
  position: relative;
  top: 1px;
  ::-webkit-input-placeholder {
   color: #bfc3c5;
  }
  input {
    padding-left: 30px;
    font-size: 15px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid #bfc3c5;
    &:focus {
      outline: none;
      border-color: #009999;
    }
  }
  i {
    color: #373737;
  }
  button {
    position: absolute;
    padding: 0;
    border: 0;
    background-color: white;
    top: 8px;
    left: 8px;
  }
}

.button {
  height: 2.4em;
}

// dropdown menu

.dropdown-menu {
  a:active {
    background-color: #009999;
  }
}

// sign-in notice bar
.alert {
  margin-bottom: 0;
  line-height: 20px;
  text-align: center;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
