// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.photo-container {
  width: 650px;
  margin: auto;
}

.photo {
  padding: 4px;
  width: 33.33%;
  margin: auto;
}
