// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// errors on player form
.error {
  color: red;
  font-size: 12px;
  width: 50%;
  margin: auto;
}
