// Place all the styles related to the tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  background-color: white;
}

.year-marker {
  text-align: center;
  background-color: #f1f1f1;
  padding: 4px 0 3px 0 !important;
  font-weight: 600;
}

thead {
  tr {
    // border-bottom: 4px green solid;
    padding-left: 0px;
  }
  // border-bottom: blue solid;
}


@media screen and (max-width: 1000px) {
  .large-bracket {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .mobile-bracket {
    display: none;
  }
}
