
/ .tournament-container
/   img src="#{@tournament.challonge_url}" class="tournament-img"
h3.pt-5.pb-2.mb-0 style="background-color:#bfc3c5;text-align:center;border-bottom:solid 2px black" = @tournament.name.titleize
<iframe src="#{@challonge_tournament.full_challonge_url}/module?theme=6441&show_final_results=1" width="100%" height="500" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>

/ .div style="padding:20px"
/   h4 Matches
/   - @challonge_tournament.matches.select{|match| match.attributes[:state] == "open"}.each do |match|
/     .match-result-card
/       .card-item = match.suggested_play_order
/       = simple_form_for :match_result, url: club_local_tournament_enter_match_result_path(@tournament.club, @tournament, match.id), html: { class: "card-item"} do |f|
/         - player_one = @challonge_tournament.participants.find{|participant| participant.id == match.player1_id}
/         - player_two = @challonge_tournament.participants.find{|participant| participant.id == match.player2_id}
/         = f.select :winner, options_for_select([[player_one.name, player_one.id], [player_two.name, player_two.id]]), { include_blank: 'Select' }, {class: 'card-item'}
/         = f.submit

.pt-5 = link_to 'finalize', club_local_tournament_finalize_path(@tournament.club, @tournament), method: :post

